version: "4.56"

services:
  api:
    build: .
    container_name: fastapi_app
    ports:
      - "8090:8090"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/mydatabase

  db:
   image: postgres:15
   container_name: postgres_db
   restart: always
   environment:
     POSTGRES_USER: postgres
     POSTGRES_PASSWORD: password
     POSTGRES_DB: mydatabase
   ports:
     - "5432:5432"
   volumes:
     - postgres_data:/var/lib/postgresql/data
     - ./db/init:/docker-entrypoint-initdb.d

volumes:
  postgres_data:
